body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #222;
}


section {
    margin-bottom: 40px;
}

header {
    background-color: #0a090b;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    margin-bottom: 15px;
}




nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: lightblue;
}



main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}




h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 30px;
}




p {
    line-height: 1.6;
}




img {
    width: 350px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}



form {
    margin-top: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 5px;
}

textarea {
    height: 120px;
}




button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}



footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


